* {
    margin: 0;
    padding: 0;
}

.new-collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 3em 0;
    padding-left: 1em;
    padding-right: 1em;
}

.new-collections h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.new-collections hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.collections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: flex-start;
    align-items: center;
    row-gap: 30px;
    overflow: hidden;
    margin-top: 50px;
    width: 100%;
   
}

.collections img {
    width: 90%;
    height: 400px;
    object-fit: cover;
    align-self: center;
    align-content: center;
    place-content: center;
    place-self: center;
}